{% extends "website/l2_base.html" %}

{% block title_suffix %} - Contact Us{% endblock %}

{% block content %}
<article>
    <h1>Contact Us</h1>
    <p>
        WebhookInbox is produced by <a href="http://fanout.io/">Fanout, Inc</a>.
    </p>
    <p>
        Credits

        <ul>
          <li>Backend and API: Justin Karneges</li>
          <li>Website development: Katsuyuki Ohmuro</li>
          <li>Website design: Marko Bijelic</li>
        </ul>
    </p>
    <p>
        Please report any bugs or feature requests on our <a href="https://github.com/fanout/webhookinbox/issues">GitHub issue tracker</a>.
    </p>
    <p>
        For commercial inquiries, contact <a href="mailto:info@fanout.io">info@fanout.io</a>.
    </p>
    <p>
        We hope you enjoy WebhookInbox.
    </p>
</article>
{% endblock %}
