{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>WebhookInbox</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link href="{% static 'styles/WebhookInbox.css' %}" rel="stylesheet" />
    <!--[if lte IE 8]>
    <script src="{% static 'scripts/json2.js' %}"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="{% static 'scripts/pollymer-1.0.0.js' %}"></script>
    <script src="{% static 'scripts/WebhookInboxViewer.config.js' %}"></script>
    <script src="{% static 'scripts/WebhookInboxViewer.js' %}"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42597888-1', 'webhookinbox.com');
      ga('send', 'pageview');
    </script>
    <base href="/" />
</head>
<body>

<div class="header container fixed-height">
    <div class="row">
        <div class="links">
            <a href="/docs/api.html">API</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </div>
    </div>
</div>

<div class="description container fixed-height">
    <div class="row">
        <div class="logo">
            <img src="{% static 'images/logo-home.png' %}" />
        </div>
        <div class="copy-main">
            WebhookInbox receives HTTP requests and<br />
            captures the data for later inspection.
        </div>
        <div class="copy-sub">
            It is useful for debugging HTTP callbacks or seeing what a browser/client is sending.<br />
            When you create an inbox, you are given a generated URL<br />
            that is to be used by the sending application.
        </div>
    </div>
</div>

<div class="main container fixed-height">
    <div class="row">
        <div class="content">
            <div ng-app="WebhookInboxViewer" ng-controller="HomeCtrl" ng-include="'{% static 'templates/home-template.html' %}'">
            </div>
        </div>
    </div>
</div>

<div class="footer container fixed-height">
    <div class="row">
        <div class="message">
            Inspired by <a href="http://requestb.in/">RequestBin</a>, &copy;2015 <a href="http://fanout.io/">Fanout, Inc</a>.
        </div>
    </div>
</div>

</body>
</html>
