{% extends 'website/base.html' %}
{% load staticfiles %}

{% block body_main %}
<div class="header header80 container fixed-height">
    <div class="row">
        <div class="logo">
            <a href="/"><img src="{% static 'images/logo.png' %}" /></a>
        </div>
        <div class="links">
            <a href="/docs/api.html">API</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </div>
    </div>
</div>

<div class="l2-content container">
    <div class="row">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
