Django==1.8.2
PyJWT==1.4.0
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-dotenv==1.4.1
django-grip==1.7.0
django-hosts==1.2
gripcontrol==2.4.2
gunicorn==19.3.0
pubcontrol==2.2.7
redis==2.10.3
requests==2.10.0
static3==0.6.1
whitenoise==1.0.6
wsgiref==0.1.2
