* {
    -webkit-box-sizing:  border-box;
    -o-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    -ms-box-sizing:  border-box;
    box-sizing:  border-box;
}

body {
    margin: 0;
    padding: 0;
    font: 12px Helvetica,Arial;
    background: black;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

.container {
    background: url("/static/images/home-bg.png");
}

.container > .row {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

.container.fixed-height > .row > div {
    position: absolute;
}

.header {
    height: 100px;
    background-position: left 0;
}

.header80 {
    height: 80px;
}

.header .logo {
    position: absolute;
    left: 10px;
    top: 25px;
}

.header .links {
    position: absolute;
    top: 31px;
    right: 0;
    padding-right: 10px;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}

.header .links ul { list-style: none;}
.header .links ul li {
    display: inline-block;
    position: relative;
}

.header .links ul li > .arrow{
    position: absolute;
    width: 0px;
    height: 0px;
    top: -35px;
    display: none;
    margin-left: 5px;
    left: 50%;
    border-left: 11px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}

.header .links ul li.active > .arrow{
    display: inline-block;
}
.header .links ul li > a {
    color: #9599a1;
    text-shadow: 1px 1px 2px #000;
    margin-left: 35px;
}

.description {
    height: 380px;
    background-position: left -100px;
    text-align: center;
}

.description .row > div {
    width: 100%;
}

.description .logo {
    top: 60px;
}

.description .copy-main {
    top: 180px;
    color: #ced0d6;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 2px #000;
}

.description .copy-sub {
    top: 270px;
    color: #9a9ca1;
    font-family: "Myriad Pro",Helvetica,Arial;
    font-size: 15px;
    text-shadow: 1px 1px 2px #000;
}

.main {
    height: 220px;
    background-position: left -480px;
    text-align: center;
}

.main .row > div {
    width: 100%;
}

.main .create-inbox {
    width: 308px;
    margin: 0 auto;
    background: url("/static/images/button-bg.png") top left;
    height: 69px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 1px 1px 2px #000;
    position: relative;
}
.main .create-inbox.creating {
    background-position: bottom left;
}

.main .create-inbox .image {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 58px;
    height: 58px;
    padding-top: 13px;
}

.main .create-inbox .label {
    position: absolute;
    left: 65px;
    top: 5px;
    width: 238px;
    height: 58px;
    padding-top: 14px;
}

.l2-content.container {
    background: white;
    padding: 30px 0 90px;
}

.l2-content .row > div {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.l2-content .content {
    width: 720px;
}
.l2-content .sidebar {
    width: 240px;
}

.l2-content {
    font: normal 14px/22px Helvetica;
    color: #60636b;
}

.l2-content blockquote {
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid;
}

.l2-content h1 {
    font-size: 36px;
}

.footer {
    height: 100px;
    background-position: left -700px;
}

.footer .message {
    width: 100%;
    position: absolute;
    width: 100%;
    top: 45px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    color: #64666b;
    text-shadow: 1px 1px 2px #000;
}

.footer .message a {
    color: #9599a1;
    text-shadow: 1px 1px 2px #000;
}
