html {
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    box-sizing:  border-box;
}

.inbox-entry {
    border: 1px solid black;
    padding: 6px;
    position: relative;

    -webkit-transition:all ease-in-out 0.2s;
    -moz-transition:all ease-in-out 0.2s;
    -o-transition:all ease-in-out 0.2s;
    transition:all ease-in-out 0.2s;
}

.entry-animate-enter {
    left: 100px;
    opacity: 0.0;
    line-height: 0;
}

.entry-animate-enter.entry-animate-enter-active {
    left: 0px;
    opacity: 1.0;
    line-height: 100%;
}


.entry-method,
.entry-path {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.entry-key {
    width: 150px;
    float: left;
}

