<!DOCTYPE html>
<html>
<head>
    <title>WebHook Inbox Viewer</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="/styles/WebHookInboxViewer.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="/scripts/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="/scripts/pollymer-1.0.0.js"></script>
    <script src="/scripts/WebHookInboxViewer.config.js"></script>
    <script src="/scripts/WebHookInboxViewer.js"></script>
    <base href="/" />
</head>
<body>
<div class="other">
    <a href="/docs">API</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</div>

<div ng-app="WebHookInboxViewer">
    
    <ng-view></ng-view>
    
    <script type="text/ng-template" id="home-template.html">
        
        <div>Welcome to WebHookInbox.</div>
        
        <div ng-show="!error">
            <button ng-click="create()" ng-disabled="creating" class="btn btn-large btn-primary"><i class="icon-inbox icon-white"></i> Create New Inbox</button>

            <div ng-show="creating">
                Creating ...
            </div>

            <div ng-show="!creating">
                <div>or</div>
                <div>Enter the ID of an existing Inbox:</div>
                <div>
                    <input type="text" ng-model="webHookId" />
                </div>
                <div>
                    <button ng-click="go()" ng-disabled="webHookId.length == 0" class="btn btn-mini">Go to Inbox</button>
                </div>
            </div>
        </div>

        <div ng-show="error">
            There has been an error creating an inbox.  Please reload the page and try again.
        </div>
        
    </script>
    
    <script type="text/ng-template" id="webHookinbox-template.html">

        <div class="location">
            <div>
                <a href="/">Home Page</a>
            </div>

            <div ng-show="webHookEndpoint.length > 0">
                Current Webhook Endpoint: <a href="{{webHookEndpoint}}" target="_blank">{{webHookEndpoint}}</a>
            </div>
        </div>
        
        <form id="webHookSelectForm">
            <div>
                Open a different inbox:
            </div>
            <div>
                <input type="text" name="webHookId" />
                <button type="submit" class="btn btn-mini">Go</button>
            </div>
        </form>

        <div ng-show="!inbox.error">
            <div ng-show="inbox.pollingUpdates">
                Listening for updates...
            </div>

            <div ng-show="inbox.entries.length > 0">
                <div ng-repeat="entry in inbox.entries" ng-animate=" 'entry-animate' " class="inbox-entry">
                    <div class="entry-id">Id: {{entry.id}}</div>
                    <div class="entry-main">
                        <div class="entry-method">{{entry.method}}</div>
                        <div class="entry-path">{{entry.path}}</div>
                    </div>
                    <div class="entry-body">
                        <div class="entry-type-item" ng-show="entry.type">
                            <div class="entry-key">Type:</div>
                            <div class="entry-value">{{entry.type}}</div>
                        </div>
                        <div class="entry-type-query" ng-show="entry.query">
                            <div class="entry-key">Query:</div>
                            <div class="entry-value">{{entry.query}}</div>
                        </div>
                        <div class="entry-type-body" ng-show="entry.body">
                            <div class="entry-key">Body:</div>
                            <div class="entry-value">{{entry.body}}</div>
                        </div>
                    </div>
                    <div ng-show="entry.headers.length > 0" class="entry-headers">
                        <div ng-repeat="header in entry.headers" class="entry-header-item">
                            <div class="entry-key">
                                {{header[0]}}
                            </div>
                            <div class="entry-value">
                                {{header[1]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="inbox.fetching">
                Checking inbox...
            </div>

            <div ng-show="!inbox.fetching && inbox.entries.length == 0">
                The inbox is empty.
            </div>

            <div ng-show="!inbox.fetching && inbox.historyCursor != null && inbox.historyCursor >= 0">
                <button ng-click="history()" class="btn btn-mini">Show past entries</button>
            </div>
        </div>

        <div ng-show="inbox.error">
            <div>
                There has been an error with the inbox.  It probably does not exist.
            </div>
            <div>
                Enter a different inbox ID, or <a href="/">return to the home page</a> to create a new inbox.
            </div>
        </div>
        
    </script>
    
</div>

</body>
</html>