<!DOCTYPE html>
<html>
<head>
    <title>WebHook Inbox Viewer</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="/styles/WebHookInboxViewer.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="/scripts/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="/scripts/pollymer-1.0.0.js"></script>
    <script src="/scripts/WebHookInboxViewer.config.js"></script>
    <script src="/scripts/WebHookInboxViewer.js"></script>
</head>
<body>
<div ng-app="WebHookInboxViewer" ng-controller="RootViewController">
    
    <form id="webHookSelectForm">
        <input type="text" name="webHookId" />
        <input type="submit" />
    </form>
    
    {{webHookId}}

    <div ng-show="inbox.pollingUpdates">
        Listening for updates...
    </div>
    
    <div ng-show="inbox.entries.length > 0">
        <div ng-repeat="entry in inbox.entries" ng-animate=" 'entry-animate' " class="inbox-entry">
            <div class="entry-id">Id: {{entry.id}}</div>
            <div class="entry-main">
                <div class="entry-method">{{entry.method}}</div>
                <div class="entry-path">{{entry.path}}</div>
            </div>
            <div class="entry-body">
                <div class="entry-type-item" ng-show="entry.type">
                    <div class="entry-key">Type:</div>
                    <div class="entry-value">{{entry.type}}</div>
                </div>
                <div class="entry-type-query" ng-show="entry.query">
                    <div class="entry-key">Query:</div>
                    <div class="entry-value">{{entry.query}}</div>
                </div>
                <div class="entry-type-body" ng-show="entry.body">
                    <div class="entry-key">Body:</div>
                    <div class="entry-value">{{entry.body}}</div>
                </div>
            </div>
            <div ng-show="entry.headers.length > 0" class="entry-headers">
                <div ng-repeat="header in entry.headers" class="entry-header-item">
                    <div class="entry-key">
                        {{header[0]}}
                    </div>
                    <div class="entry-value">
                        {{header[1]}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="inbox.fetching">
        Checking inbox...
    </div>
    
    <div ng-show="!inbox.fetching && inbox.entries.length == 0">
        The inbox is empty.
    </div>
    
    <div ng-show="!inbox.fetching && inbox.historyCursor != null && inbox.historyCursor >= 0">
        <button ng-click="history()">Show past entries</button>
    </div>

    <div ng-show="inbox.error">
        There has been an error with the inbox.
    </div>

</div>

</body>
</html>