<div ng-show="!error">
    <div ng-show="!creating" ng-click="create()" ng-disabled="creating" class="create-inbox">
        <div class="image">
            <img src="/static/images/inbox-button.png" />
        </div>
        <div class="label">
            create an inbox
        </div>
    </div>
    <div ng-show="creating" class="create-inbox creating">
        <div class="image">
            <img src="/static/images/ajax-loader-button.gif" />
        </div>
        <div class="label">
            creating ...
        </div>
    </div>
</div>
<div ng-show="error">
    There has been an error creating an inbox.  Please reload the page and try again.
</div>