<div class="target container">
    <div class="row">
        <div class="target-info" ng-show="webhookEndpoint.length > 0">
            <div class="targrt-left">
                <div class="label">
                    INBOX TARGET URL:
                </div>
                <div class="url">
                    <a href="{{webhookInboxUrl()}}" target="_blank" id="copy_text">{{webhookInboxUrl()}}</a>
                </div>
            </div>
            <div class="target-right">
               <button class="copy_clip_box" id="clip_button" 
               ng-click="init()">Copy To Clipboard</button>
            </div>
        </div>
        <div class="target-autoupdates">
            <div>
            <a href="#" ng-mouseover="showText()" ng-mouseleave="hideText()"
            onClick="return confirm('Are you really want to delete inbox?')" ng-click="deleteInbox($event)" href=""><img  class="delete-inbox" src="/static/images/delete-256.png" /></a> 
            </div>

            <div class="label" ng-class="inbox.liveUpdates ? 'label-off' : 'label-on'" ng-click="toggleAuto()">
                turn {{ inbox.liveUpdates ? "OFF" : "ON" }} auto updates
            </div>
            <div class="count" ng-show="!inbox.liveUpdates && inbox.pendingEntries.length > 0" class="count" ng-click="flushPendingEntriesNonLive()">
                <div class="count-inner">
                    {{ inbox.pendingEntries.length }}
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="!inbox.error">
    <div ng-show="inbox.entries.length > 0">
        <div ng-repeat="entry in inbox.entries" ng-animate="getAnimationType()" class="inbox-entry">
            <div class="entry-label container">
                <div class="row">
                    <div class="entry-main">
                        {{entry.method}} {{entry.path}}
                    </div>
                    <div class="entry-id">ID: {{entry.id}}</div>
                </div>
            </div>
            <div class="entry-content container">
                <div class="entry-meta">
                    <div class="entry-item">
                        <div class="label">
                            DATE AND TIME
                        </div>
                        <div class="value">
                            {{entry.dateTime | date:"MM / dd / yyyy 'at' h:mm:ss a"}}
                        </div>
                    </div>
                    <div class="entry-item">
                        <div class="label">
                            IP ADDRESS OF REQUEST
                        </div>
                        <div class="value">
                            {{entry.ip_address}}
                        </div>
                    </div>
                </div>
                <div class="entry-body">
                    <div class="entry-inner-body">
                        <div class="entry-item" ng-show="entry.body">
                            <div class="label">POST CONTENT:</div>
                            <div class="value">{{entry.body}}</div>
                        </div>
                        <div class="entry-item" ng-show="entry.query">
                            <div class="label">QUERY:</div>
                            <div class="value">{{entry.query}}</div>
                        </div>
                        <div ng-show="entry.headers.length > 0" class="entry-item">
                            <div class="headers-label label" ng-click="entry.showHeaders = !entry.showHeaders">HEADERS
                                <span ng-show="entry.showHeaders">&#x25b2;</span>
                                <span ng-show="!entry.showHeaders">&#x25bc;</span>
                            </div>
                            <!-- <div ng-repeat="header in entry.headers" class="value" ng-show="entry.showHeaders">
                                <div class="item-label">
                                    {{header[0]}}
                                </div>
                                <div class="item-value">
                                    {{header[1]}}
                                </div>
                            </div> -->
                            <table border="1" cellpadding="4" cellspacing="0" ng-show="entry.showHeaders">
                            <thead>
                                <tr>
                                    <th class="item-table-key">Key</th>
                                    <th class="item-table-value">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="header in entry.headers" class="value" >
                                    <td class="item-table-key">{{header[0]}}</td>
                                    <td class="item-table-value">{{header[1]}}</td>
                                </tr>
                            </tbody>
                                 
                            </table>
                        </div>
                        <div ng-show="entry.type == 'hub-verify'" class="entry-type-hub-verify">
                            <img src="/static/images/rss-icon.png" /> This PubSubHubbub verify request has been granted.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="inbox.fetching" class="status container">
        <div class="row">
            <div class="status-message">
                <img src="/static/images/ajax-loader.gif" /> Checking inbox...
            </div>
        </div>
    </div>

    <div ng-show="!inbox.fetching && inbox.entries.length == 0" class="status container">
        <div class="row">
            <div class="status-message">
                <div>
                    The inbox is empty.
                </div>
                <div>
                    Post a message to the inbox by making a request to
                    <a href="{{webhookInboxUrl()}}" target="_blank">{{webhookInboxUrl()}}</a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!inbox.fetching && inbox.historyCursor != null && inbox.historyCursor >= 0" class="entry-history container" ng-click="history()">
        <div class="row">
            <div class="darr-l"></div>
            <div class="darr-r"></div>
            <div class="show-more">show more</div>
        </div>
    </div>
</div>

<div ng-show="inbox.error" class="error container">
    <div class="row">
        <div class="error-message">
            <div>
                There has been an error with the inbox.  It probably does not exist.
            </div>
            <div>
                <a href="/">Return to the home page</a> to create a new inbox.
            </div>
        </div>
    </div>
</div>